*{
    box-sizing: border-box;
}

body{
    background: #000000;
    text-align: center;
    color: #000000;
    display: flex;
    flex-direction: column;
    margin: 10px;
}


header{
    background-color: #f1f7f7;
    padding: 0.5em 0 0.5em 0;
    border-radius: 10px;
    margin:5px;
}

nav{
    background-color: #f1f7f7;
    padding: 1em 0 1em 0;
    border-radius: 10px;
    margin:5px;
}

.main{
    display: flex;
    flex: 1;
}
.submenu{
    background-color: #f1f7f7;
    padding: 3em 0 3em 0;
    flex: 1 1 50px;
    border-radius: 10px;
    margin:5px;

}
 main{
    display: flex;
    background-color: #f1f7f7;
    flex: 5 5 250px;
    padding: 3em 0 3em 0;
    border-radius: 10px;

    margin:5px;
 }
 footer{
    background-color: #f1f7f7;
    padding: 1em 0 1em 0;
    border-radius: 10px;
    margin:5px;
    text-align: center;
 }

 .imgslider{
    border-radius: 10px;
    /*width: 90%;*/
 }
