*{
    box-sizing: border-box;
}

body{
    background: #0f0f0f;
    text-align: center;
    color: #000000;
    display: flex;
    flex-direction: column;
    margin: 10px;
}


header{
    background-color: #bd1c8d;
    padding: 0.5em 0 0.5em 0;
    border-radius: 10px;
    margin:5px;
}

nav{
    background-color: #f1f7f7;
    padding: 1em 0 1em 0;
    border-radius: 10px;
    margin:5px;
}
 main{
    background-color: #f1f7f7;
    padding: 3em 0 3em 0;
    border-radius: 10px;
    margin:5px;
 }
 footer{
    background-color: #f1f7f7;
    padding: 1em 0 1em 0;
    border-radius: 10px;
    margin:5px;
 }

 .imgslider{
    border-radius: 10px;
    width: 90%;
 }
